# Database Configuration
DB_URL=jdbc:postgresql://your-render-db-host/your-db-name
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Security
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION_MS=86400000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password
